@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./custom_range.scss');

* {
  font-family: 'Roboto', sans-serif;

  padding:0;
  margin:0;

  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  overflow: hidden;
}

.is-hidden {
  display: none;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  #modal {
    padding: 20px 30px;
    width: 550px;
    height: 300px;


    border-radius: 15px;
    background: #fff;
    z-index: 9999;

    position: fixed;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    .button-close {
      display: inline-block;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 6px;
      right: 6px;
      background: #ddd;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      cursor: pointer;
    }

    .button-close:hover {
      background: #ccc;
    }

    .modal-input {
      width: calc(100% - 60px);
      height: 50px;
      display: block;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      border-radius: 15px;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 34px;
    }

    .bot {
      width: calc(100% - 60px);
      position: absolute;
      bottom: 0;

      .button {
        height: 40px;
        margin: 5px 5px 5px 0;
        padding: 5px 10px;
      }
    }
  }
}

#options {
  bottom: 0px;

  * {
    float: left;
  }

  .separator {
    width: 1px;
    height: 32px;
    margin: 5px 10px;
    float: left;

    background: #999;
  }

  label {
    margin: 15px 0;
    font-size: 12px;
    color: #ccc;
  }

  #animationSpeed {
    margin: 18px 2px 18px 5px;
  }

  output {
    margin: 7px;
  }
}

#header {
  top: 0;

  #shuffle {
    float: right;
  }
}

#header, #options {
  // display: none; TODO - vrati
  position: absolute;
  width: 100vw;

  z-index: 1000;
  background: rgba(255,255,255,0.4);
  
  button {
    padding: 10px;
    margin: 5px;
    float: left;
  }
}

#mainMenu {
  width: 50px;
  height: 100vh;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1005;

  .mainMenuIcon {
    width: 200px;
    height: 50px;
    background-color:#fff;
    // background-size: 30px 30px;
    // background-position: center; 
    // background-repeat: no-repeat;
    text-align: left;
    padding-left: 12px;
    line-height: 50px;
    font-size: 25px;
    margin: 30px 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    transition: transform .3s ease-in-out;

    .desc {
      font-size: 23px;
    }

    svg {
      margin-right: 30px;
      transition: transform .3s ease-in-out;
    }
  }

  .mainMenuIcon:hover {
    transform: translateX(-145px);

    svg {
      transform: rotate(-90deg);
    }
  }
}